<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'main/auth.css'%}">
    <link rel="icon" href="{%static 'main/logo.png'%}">
    <title>{%block title%}{%endblock%}</title>
</head>
<body>
    <div class="container">
        <section class="auth-box">
            <form action="{%block action%}{%endblock%}" method="POST">
                {% csrf_token %}
                {% block input_fields %}
                {% endblock %}
                {% if fail %}
                <h4>{{fail_message}}</h4>
                {% endif %}
                <input class="submit" type="submit" value="{% block submit_text %}{% endblock %}">
            </form>
        </section>
    </div>
</body>
</html>